body {
	background-image: url("47.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0,0,0,0.06) !important;
	height: 100%;
}

html {
	height: 100%;
}

.mynav {
	background-color: #3cc7a2 !important;
	
}
.white {
	color: white;
}
.navbar-nav > li > .dropdown-menu { background-color: #3cc7a2; }

.nav > li > a:hover{
    background-color: #0c8a49 !important;
}
.dropdown-toggle:focus{
    background-color: #0c8a49 !important;
}

.mynav .navbar-brand, 
.mynav .navbar-nav a { 
    color: white; 
}

#previewImg {
	/*min-height: 300px;
	min-width: 350px;
	max-height: 300px;
	max-width: 350px;*/
	border-radius: 10px;
	background-image: url("14.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: 70px;
	/*text-align: center;*/
	width: 100%;
    height: 100%;
    max-width: 300px;
    /*min-width: 300px;*/
    min-height: 300px;
    object-fit: cover;
}

#imgdiv {
	min-height: 320px;
	text-align: center;
}

.container {
	padding-top: 25px;
	padding-bottom: 55px;
	max-width: 700px;
	background-color: white;
	/*background-color: #3cc7a2;*/
	/*height: 100%;*/
	/*height: 100%;*/
	/*background-color: rgba(0,0,0,0.017);*/
	/*background-image: url("46.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#imgUrl {
	display: block;
	
}

input {
	padding: 5px;
	margin: auto !important;
	width: 50%;
	margin-top: 50px;
	border: 1px solid #123524 !important;

}

textarea {
	border: 1px solid #123524 !important;
}

#titleDiv {
	width: 40%;
	text-align: left;
}

#submitbtn {
	background-color: #3cc7a2;
	color: white;
}


@media (max-width: 420px) {
	input {
		
		min-width: 100px;
	}

	/*textarea {
		min-width: 250px;
	}*/
}

@media (max-width: 900px) {
	
	.container {
		background-image: url("47.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

body {
	background-image: none;
}
	/*textarea {
		min-width: 250px;
	}*/
}






















