<h1>Logs</h1>
<br>

{{#each logs }}
    
<div>{{this.user}} -------- {{this.order_details}} ---- {{this.time}}</div>
                            
============================================================
   
{{/each}}