<h1>Product Details</h1>
<br>

{{# each products }}
    
      
                        
                        <h3>{{ this.title }}  --------   {{ this.stock }}
                        </h3>
                       
            
     
   
{{/each}}